In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("./data/Passengers.csv")

In [3]:
df

     year  month    Domestic International
0    2002     10  48,054,917     9,578,435
1    2002     11  44,850,246     9,016,535
2    2002     12  49,684,353    10,038,794
3    2003      1  43,032,450     9,726,436
4    2003      2  41,166,780     8,283,372
..    ...    ...         ...           ...
246  2023      4  67,572,132    18,823,978
247  2023      5  71,424,589    19,833,959
248  2023      6  69,297,587    21,471,446
249  2023      7  75,378,956    23,456,611
250  2023      8  71,478,434    21,294,628

[251 rows x 4 columns]

In [4]:
df.columns

Index(['year', 'month', 'Domestic', 'International'], dtype='object')

In [7]:
from pymongo import MongoClient
client = MongoClient("mongodb://localhost:27017")
db = client.project3
collection = db.Passengers

In [8]:
collection.find_one()

{'_id': ObjectId('6569534e50185ee65c35277d'),
 'year': 2002,
 'month': 10,
 'Domestic': '48,054,917',
 'International': '9,578,435'}